In [25]:
import pandas as pd

In [26]:
events = pd.read_csv("./gemini_rel_events.csv")

In [27]:
inside = pd.read_json("./gemini_inside.json")

In [28]:
events.head()

,Unnamed: 0,fixed_timestampms,next_tim,price_padded,remaining,side,next_tim_filled,ref_tim
0,6695,1547662175932,1.547662e+12,3613.42,0.3600,bid,1.547662e+12,1547662175932
1,6696,1547662175932,1.547662e+12,3613.78,2.5350,bid,1.547662e+12,1547662175932
2,6697,1547662175932,1.547662e+12,3613.81,7.4804,bid,1.547662e+12,1547662175932
3,6698,1547662175932,1.547662e+12,3613.82,11.0186,bid,1.547662e+12,1547662175932
4,6699,1547662175932,1.547662e+12,3614.31,4.7050,bid,1.547662e+12,1547662175932

In [29]:
events["signed_price_padded"] = events.side.map(lambda x: -1 if x == "bid" else 1) * events.price_padded

In [30]:
events["cum_interest"] = events.sort_values("signed_price_padded").groupby(["ref_tim", "side"], as_index = False)["remaining"].cumsum()

In [31]:
events.sort_values(["ref_tim", "side", "signed_price_padded"]).head()

,Unnamed: 0,fixed_timestampms,next_tim,price_padded,remaining,side,next_tim_filled,ref_tim,signed_price_padded,cum_interest
18,6713,1547662175932,1.547662e+12,3621.92,1.0000,ask,1.547662e+12,1547662175932,3621.92,1.0000
19,6714,1547662175932,1.547662e+12,3622.95,3.0000,ask,1.547662e+12,1547662175932,3622.95,4.0000
17,6712,1547662175932,1.547662e+12,3620.42,0.9680,bid,1.547662e+12,1547662175932,-3620.42,0.9680
16,6711,1547662175932,1.547662e+12,3620.36,1.0000,bid,1.547662e+12,1547662175932,-3620.36,1.9680
15,6710,1547662175932,1.547662e+12,3619.86,6.8761,bid,1.547662e+12,1547662175932,-3619.86,8.8441

In [32]:
events.side.value_counts()

ask    70608
bid    67678
Name: side, dtype: int64

In [34]:
events[events.ref_tim == 1547663480392]

,Unnamed: 0,fixed_timestampms,next_tim,price_padded,remaining,side,next_tim_filled,ref_tim,signed_price_padded,cum_interest
138239,5385,1547663030892,NaN,3621.32,5.400000,ask,1.547663e+12,1547663480392,3621.32,52.473045
138240,5570,1547663090544,NaN,3617.91,1.000000,ask,1.547663e+12,1547663480392,3617.91,13.966687
138241,5609,1547663094610,NaN,3618.28,0.056359,ask,1.547663e+12,1547663480392,3618.28,21.223045
138242,5878,1547663172479,NaN,3619.63,6.110000,ask,1.547663e+12,1547663480392,3619.63,40.133045
138243,6171,1547663252420,NaN,3614.72,4.972639,ask,1.547663e+12,1547663480392,3614.72,4.972639
138244,6391,1547663324014,NaN,3621.73,0.200000,ask,1.547663e+12,1547663480392,3621.73,52.673045
138245,6404,1547663346348,NaN,3618.18,5.200000,ask,1.547663e+12,1547663480392,3618.18,21.166687
138246,6534,1547663412395,NaN,3620.79,1.940000,ask,1.547663e+12,1547663480392,3620.79,47.073045
138247,6550,1547663434803,NaN,3613.63,5.000000,bid,1.547663e+12,1547663480392,-3613.63,9.534500
138248,6585,1547663439880,NaN,3616.33,0.386048,ask,1.547663e+12,1547663480392,3616.33,5.388687
138249,6600,1547663446645,NaN,3616.68,7.578000,ask,1.547663e+12,1547663480392,3616.68,12.966687
138250,6638,1547663462548,NaN,3619.04,0.500000,ask,1.547663e+12,1547663480392,3619.04,30.023045
138251,6639,1547663462548,NaN,3618.88,0.500000,ask,1.547663e+12,1547663480392,3618.88,21.723045
138252,6654,1547663469569,NaN,3613.08,4.000000,bid,1.547663e+12,1547663480392,-3613.08,13.534500
138253,6655,1547663469573,NaN,3619.23,4.000000,ask,1.547663e+12,1547663480392,3619.23,34.023045
138254,6657,1547663470019,NaN,3619.03,7.800000,ask,1.547663e+12,1547663480392,3619.03,29.523045
138255,6660,1547663472144,NaN,3621.89,2.764000,ask,1.547663e+12,1547663480392,3621.89,55.437045
138256,6672,1547663472752,NaN,3613.98,1.000000,bid,1.547663e+12,1547663480392,-3613.98,3.000000
138257,6675,1547663472933,NaN,3620.49,5.000000,ask,1.547663e+12,1547663480392,3620.49,45.133045
138258,6677,1547663473049,NaN,3614.71,2.000000,bid,1.547663e+12,1547663480392,-3614.71,2.000000
138259,6683,1547663474590,NaN,3615.00,0.030000,ask,1.547663e+12,1547663480392,3615.00,5.002639
138260,6685,1547663476241,NaN,3618.05,2.000000,ask,1.547663e+12,1547663480392,3618.05,15.966687
138261,6692,1547663479897,NaN,3613.64,1.534500,bid,1.547663e+12,1547663480392,-3613.64,4.534500

In [35]:
inside[inside.ref_tim == 1547663480392]

       inside_padded        ref_tim side
12566        3614.72  1547663480392  ask
12567        3614.71  1547663480392  bid

In [36]:
events["price_padded_str"] = events.price_padded.astype("str").str.pad(7, "right", "0")

In [37]:
len(events)

138286

In [38]:
events[["ref_tim", "side", "price_padded_str", "cum_interest"]].to_json("./gemini_cum_int.json", orient = "records")