In [1]:
import pandas as pd

In [2]:
tables = pd.read_html("https://www.health.ny.gov/statistics/vital_statistics/2016/table02.htm")

In [3]:
len(tables)

1

In [4]:
tables[0].head()

,County,2016 Population Estimate,2010 Census Population,2010 Land Area Square Miles,2016 Population Density1
0,New York State,NaN,NaN,NaN,NaN
1,New York State,19745289.0,19378102.0,47126.40,418.99
2,New York City,NaN,NaN,NaN,NaN
3,New York City,8537673.0,8175133.0,302.65,28209.72
4,Bronx,1455720.0,1385108.0,42.10,34577.67

In [5]:
ny_counties = tables[0]

In [60]:
map_data = pd.read_json("./ny_map_data_res80.json")

In [61]:
len(map_data)

6400

In [44]:
map_data.head()

      county_name        lat        lng state
0            Pike  41.403671 -74.984937    PA
1  Kawartha Lakes  44.788228 -79.055823    ON
2      Montgomery  42.920886 -74.476076    NY
3      Chautauqua  42.162278 -79.666456    NY
4      Rensselaer  42.862532 -73.661899    NY

In [45]:
map_data_counties = map_data[map_data.state == "NY"][["county_name", "lat"]].groupby("county_name", as_index = False).count()

In [46]:
map_data_counties["count"] = map_data_counties["lat"]

In [47]:
map_data_counties.sort_values("count").head()

   county_name  lat  count
30    New York    1      1
2        Bronx    2      2
42    Richmond    3      3
23       Kings    4      4
40      Queens    5      5

In [51]:
ny_counties["county_name"] = ny_counties["County"]

In [52]:
ny_counties_join = ny_counties.merge(right = map_data_counties[["county_name", "count"]], on = "county_name", how = "outer")

In [53]:
ny_counties_join[pd.isnull(ny_counties_join["count"])]

,County,2016 Population Estimate,2010 Census Population,2010 Land Area Square Miles,2016 Population Density1,county_name,count
0,New York State,NaN,NaN,NaN,NaN,New York State,NaN
1,New York State,19745289.0,19378102.0,47126.40,418.99,New York State,NaN
2,New York City,NaN,NaN,NaN,NaN,New York City,NaN
3,New York City,8537673.0,8175133.0,302.65,28209.72,New York City,NaN
9,Rest of State,NaN,NaN,NaN,NaN,Rest of State,NaN
10,Rest of State,11207616.0,11202969.0,46823.75,239.36,Rest of State,NaN

In [54]:
ny_counties_join[pd.isnull(ny_counties_join["County"])]

Empty DataFrame
Columns: [County, 2016 Population Estimate , 2010 Census Population , 2010 Land Area Square Miles, 2016 Population Density1, county_name, count]
Index: []