In [1]:
import pandas as pd

In [2]:
county_shapes = pd.read_csv("./ny_county_shapes.csv")

In [3]:
len(county_shapes)

62

In [7]:
county_shapes["dummy"] = 1

In [8]:
county_shapes_join = county_shapes.merge(right = county_shapes, on = "dummy", how = "left")

In [11]:
county_shapes_join_diff = county_shapes_join[~(county_shapes_join.county_x == county_shapes_join.county_y)]

In [12]:
county_shapes_join_diff.head()

,county_name_x,min_lng_rank_x,min_lat_rank_x,max_lng_rank_x,max_lat_rank_x,num_squares_x,county_x,ttl_x,pre_mult_x,mult_x,...,mult_y,sqrt_mult_y,mid_lng_rank_y,mid_lat_rank_y,lat_rank_range_y,scaled_min_lat_rank_y,scaled_max_lat_rank_y,lng_rank_range_y,scaled_min_lng_rank_y,scaled_max_lng_rank_y
1,Albany,57.0,35.0,61.0,40.0,24,Albany,27049,1127.041667,424.470238,...,10.414455,3.227143,19.5,32.0,9.0,17.477854,46.522146,6.0,9.818570,29.181430
2,Albany,57.0,35.0,61.0,40.0,24,Albany,27049,1127.041667,424.470238,...,23723.129870,154.023147,60.0,7.5,2.0,-146.523147,161.523147,1.0,-17.011574,137.011574
3,Albany,57.0,35.0,61.0,40.0,24,Albany,27049,1127.041667,424.470238,...,113.489177,10.653130,41.0,31.0,7.0,-6.285955,68.285955,7.0,3.714045,78.285955
4,Albany,57.0,35.0,61.0,40.0,24,Albany,27049,1127.041667,424.470238,...,12.546618,3.542120,12.5,32.0,9.0,16.060458,47.939542,8.0,-1.668482,26.668482
5,Albany,57.0,35.0,61.0,40.0,24,Albany,27049,1127.041667,424.470238,...,35.779221,5.981573,34.0,44.0,13.0,5.119773,82.880227,5.0,19.046066,48.953934