In [1]:
import pandas as pd

following https://cloud.google.com/storage/docs/reference/libraries

In [2]:
from google.oauth2 import service_account

In [8]:
cred = service_account.Credentials.from_service_account_file("./dell-local.json")

In [11]:
import os

In [15]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "./dell-local.json"

In [16]:
# Imports the Google Cloud client library
from google.cloud import storage

# Instantiates a client
storage_client = storage.Client()

In [17]:
bucket = storage_client.get_bucket("nys_dot_webcam_pics")

Get all file names of files in the bucket

In [30]:
%%time
all_file_names = [b.name for b in bucket.list_blobs()]

In [31]:
len(all_file_names)

105036

In [32]:
all_file_names[:10]

['nyc_dot_webcam_pics/cam_id_100_050819_230609.png',
 'nyc_dot_webcam_pics/cam_id_100_050919_031722.png',
 'nyc_dot_webcam_pics/cam_id_100_050919_034237.png',
 'nyc_dot_webcam_pics/cam_id_100_050919_035512.png',
 'nyc_dot_webcam_pics/cam_id_100_050919_040750.png',
 'nyc_dot_webcam_pics/cam_id_100_050919_042028.png',
 'nyc_dot_webcam_pics/cam_id_100_050919_043309.png',
 'nyc_dot_webcam_pics/cam_id_100_050919_044552.png',
 'nyc_dot_webcam_pics/cam_id_100_050919_045835.png',
 'nyc_dot_webcam_pics/cam_id_100_050919_051119.png']

In [33]:
file_name_values = [
    {
        "cam_id": i.split("_")[-3],
        "date": i.split("_")[-2],
        "time": i.split("_")[-1].split(".")[0]
    } for i in all_file_names]

In [34]:
file_name_values[:5]

[{'cam_id': '100', 'date': '050819', 'time': '230609'},
 {'cam_id': '100', 'date': '050919', 'time': '031722'},
 {'cam_id': '100', 'date': '050919', 'time': '034237'},
 {'cam_id': '100', 'date': '050919', 'time': '035512'},
 {'cam_id': '100', 'date': '050919', 'time': '040750'}]

In [35]:
cam_info = pd.DataFrame(file_name_values)

In [49]:
cam_info.dtypes

cam_id    object
date      object
time      object
dtype: object

In [36]:
cam_info.head()

  cam_id    date    time
0    100  050819  230609
1    100  050919  031722
2    100  050919  034237
3    100  050919  035512
4    100  050919  040750

In [39]:
cam_info.cam_id.nunique()

654

In [38]:
cam_info.cam_id.value_counts().head()

169    176
326    175
274    174
348    174
281    174
Name: cam_id, dtype: int64

In [41]:
cam_info.date.value_counts()

051019    53190
050919    51785
050819       61
Name: date, dtype: int64

In [51]:
cam_info.time.map(lambda x: x[:2]).value_counts()

05    5058
04    4985
09    4984
06    4963
08    4955
07    4947
10    4915
12    4894
11    4894
13    4889
14    4866
16    4852
15    4852
20    4835
18    4820
17    4810
19    4805
21    4691
03    4354
00    2836
22    2489
01    2483
23    2436
02    2423
Name: time, dtype: int64

In [56]:
60*18*cam_info.cam_id.nunique()

706320